@charset "UTF-8";

@font-face {
	font-family: 'arvo';
	src: url('../fonts/Arvo/Arvo-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'karla';
	src: url('../fonts/Karla/Karla-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'arvoItalic';
	src: url('../fonts/Arvo/Arvo-Italic.ttf') format('truetype');
	font-weight: italic;
	font-style: normal;
}


body{
	margin-left: 40px;

}

h1 {
	font-family: 'arvo', sans-serif;
	font-size: 45px;
}

p {
	font-family: 'karla', sans-serif;
	line-height: 30px;
}

h2 {
	font-family: 'arvo', sans-serif;
	font-size: 30px;
}

li {
	font-family: 'karla', sans-serif;
}

ul {
	list-style-type: circle;
}

#weAre {
	font-family: 'arvoItalic', sans-serif;
}

#why-muskoka {
	padding:20px;
}

#Logo {
	padding: 20px;
}

.beerImage {
	flex-direction: row-reverse;
	width: 200px;
	padding: 20px;

}

